Marka_proiektua/estantziak.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "estantziak">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "hotelak">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "hotela">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type = " xs: string" name = "irudia"/>
                                        <xs:element type = " xs: string" name = "izena"/>
                                        <xs:element type = " xs: string" name = "url"/>
                                        <xs:element type = " xs: string" name = "prezioa"/>
                                        <xs:element name = "gelak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "gela">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: byte" name = "kapazitatea"/>
                                                                <xs:element type = " xs: string" name = "wifia"/>
                                                                <xs:element type = " xs: string" name = "tv"/>
                                                                <xs:element type = " xs: string" name = "gela_zerbitzua"/>
                                                                <xs:element type = " xs: string" name = "buffet"/>
                                                                <xs:element type = " xs: string" name = "igerilekua"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="mota" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name = "gela">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: byte" name = "kapazitatea"/>
                                                                <xs:element type = " xs: string" name = "wifia"/>
                                                                <xs:element type = " xs: string" name = "tv"/>
                                                                <xs:element type = " xs: string" name = "gela_zerbitzua"/>
                                                                <xs:element type = " xs: string" name = "buffet"/>
                                                                <xs:element type = " xs: string" name = "igerilekua"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="mota"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "balorazioak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "balorazioa"  maxOccurs="unbounded" minOccurs="0" >
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: string" name = "egilea"/>
                                                                <xs:element type = " xs: string" name = "komentarioa"/>
                                                                <xs:element type = " xs: float" name = "izarrak"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name = "balorazioa"  maxOccurs="unbounded" minOccurs="0" >
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: string" name = "egilea"/>
                                                                <xs:element type = " xs: string" name = "komentarioa"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "balorazioak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "balorazioa">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: string" name = "egilea"/>
                                                                <xs:element type = " xs: string" name = "komentarioa"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "motelak">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "motela">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type = " xs: string" name = "irudia"/>
                                        <xs:element type = " xs: string" name = "izena"/>
                                        <xs:element type = " xs: string" name = "url"/>
                                        <xs:element type = " xs: string" name = "prezioa"/>
                                        <xs:element name = "gelak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "gela">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: byte" name = "kapazitatea"/>
                                                                <xs:element type = " xs: string" name = "wifia"/>
                                                                <xs:element type = " xs: string" name = "tv"/>
                                                                <xs:element type = " xs: string" name = "gela_zerbitzua"/>
                                                                <xs:element type = " xs: string" name = "buffet"/>
                                                                <xs:element type = " xs: string" name = "igerilekua"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="mota" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name = "gela">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: byte" name = "kapazitatea"/>
                                                                <xs:element type = " xs: string" name = "wifia"/>
                                                                <xs:element type = " xs: string" name = "tv"/>
                                                                <xs:element type = " xs: string" name = "gela_zerbitzua"/>
                                                                <xs:element type = " xs: string" name = "buffet"/>
                                                                <xs:element type = " xs: string" name = "igerilekua"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="mota"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "balorazioak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "balorazioa"  maxOccurs="unbounded" minOccurs="0" >
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: string" name = "egilea"/>
                                                                <xs:element type = " xs: string" name = "komentarioa"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name = "balorazioa"  maxOccurs="unbounded" minOccurs="0" >
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: string" name = "egilea"/>
                                                                <xs:element type = " xs: string" name = "komentarioa"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "balorazioak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "balorazioa">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: string" name = "egilea"/>
                                                                <xs:element type = " xs: string" name = "komentarioa"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "apartamentuak">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "apartamentua">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type = " xs: string" name = "irudia"/>
                                        <xs:element type = " xs: string" name = "izena"/>
                                        <xs:element type = " xs: string" name = "url"/>
                                        <xs:element type = " xs: string" name = "prezioa"/>
                                        <xs:element name = "gelak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "gela">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: byte" name = "kapazitatea"/>
                                                                <xs:element type = " xs: string" name = "wifia"/>
                                                                <xs:element type = " xs: string" name = "tv"/>
                                                                <xs:element type = " xs: string" name = "gela_zerbitzua"/>
                                                                <xs:element type = " xs: string" name = "buffet"/>
                                                                <xs:element type = " xs: string" name = "igerilekua"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="mota" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name = "gela">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: byte" name = "kapazitatea"/>
                                                                <xs:element type = " xs: string" name = "wifia"/>
                                                                <xs:element type = " xs: string" name = "tv"/>
                                                                <xs:element type = " xs: string" name = "gela_zerbitzua"/>
                                                                <xs:element type = " xs: string" name = "buffet"/>
                                                                <xs:element type = " xs: string" name = "igerilekua"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="mota"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "balorazioak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "balorazioa"  maxOccurs="unbounded" minOccurs="0" >
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: string" name = "egilea"/>
                                                                <xs:element type = " xs: string" name = "komentarioa"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name = "balorazioa"  maxOccurs="unbounded" minOccurs="0" >
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: string" name = "egilea"/>
                                                                <xs:element type = " xs: string" name = "komentarioa"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name = "balorazioak">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name = "balorazioa">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type = " xs: string" name = "egilea"/>
                                                                <xs:element type = " xs: string" name = "komentarioa"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                                <xs:element type = " xs: byte" name = "izarrak"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>